*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body{
       background: url('dubai.jpg') no-repeat;
       background-size: cover;
   }
   nav{
   width:100% ; height: 15vh;
   background: rgba(0,0,0,0.4);
   color:white;  display: flex; justify-content: space-between;
   align-items: center; text-transform: uppercase;
   }
   
   
   nav .logo{
     width:25%; text-align: center;
   }
   
   nav .menu{
     width: 40%;
     display: flex; justify-content: space-around;
     font-weight:bold;
   }
   
   nav .menu a{
     width:25%;
     padding: 12px 10px;
     text-align: center;
     border-radius: 20px;
     text-decoration: none; color:white;
   }
   
   nav .menu a:hover{
     background-color:lightgrey;
   }
   
   nav .menu a:active{
       color:grey;
   }
          .main{
              text-align: center;
          }
           .name h1{
               font-size: 60;
               letter-spacing: 10px;
               color: rgb(85, 84, 84);
           }
           
           .login{
               color: white;
               opacity: 0.7;
               padding: 30px;
               background-color: black;
               height: 200px;
               width: 400px;
               position: absolute;
               top: 35%;
               left: 40%;
               padding-left: 90px;
           }
           .q{
               height: 300px;
               width: 350px;
               background-color: black;
               top: 40%;
               left: 5%;
               opacity: 0.7;
               position: absolute;
               color: white;
           }
           .q ul{
               margin-left: 50px;
               margin-top: 20px;
           }
           .q li{
               font-size: 20px;
               padding: 15px 20px;
           }